<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Web</title>
    <!-- Estilos -->
    <link rel="stylesheet" href="/css/estilos.css">
    <!-- Iconos -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

    <div th:replace="~{/navegacion :: navegacion}"></div>



    <main class="home">
            
        <div class="text">
            <h1>Lista de Ventas</h1>    
        </div>

        <div class="text herramientas">
            <div>
                <i class='bx bx-filter icon'></i>
                <span>Filtrar</span>
            </div>

            <div>
                <span>Buscar...</span>
                <i class='bx bx-search icon' ></i>
            </div>
        </div>


        <section class="text lista">
            <div class="ventas">
                <table>
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Fecha</th>
                            <th>Hora</th>
                            <th>Precio</th>
                            <th>Ver</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <i class='bx bx-purchase-tag icon'></i>
                                <p>V004</p>
                            </td>
                            <td>05/12/2023</td>
                            <td>12:30</td>
                            <td>S/.500.00</td>
                            <td><button>Detalles</button></td>
                        </tr>
                        <tr>
                            <td>
                                <i class='bx bx-purchase-tag icon'></i>
                                <p>V003</p>
                            </td>
                            <td>09/09/2023</td>
                            <td>18:30</td>
                            <td>S/.155.00</td>
                            <td><button>Detalles</button></td>
                        </tr>
                        <tr>
                            <td>
                                <i class='bx bx-purchase-tag icon'></i>
                                <p>V002</p>
                            </td>
                            <td>20/08/2023</td>
                            <td>10:30</td>
                            <td>S/.200.00</td>
                            <td><button>Detalles</button></td>
                        </tr>
                        <tr>
                            <td>
                                <i class='bx bx-purchase-tag icon'></i>
                                <p>V001</p>
                            </td>
                            <td>14/06/2023</td>
                            <td>14:30</td>
                            <td>S/.50.00</td>
                            <td><button>Detalles</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </main>


    <script src="/js/animaciones.js"></script>
</body>
</html>
