<!DOCTYPE html>
<html lang="es" >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Web</title>
    <!--Estilos-->
    <link rel="stylesheet" href="/css/estilos.css">
    <!--Iconos-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

	<div th:replace="/navegacion :: navegacion"></div>


    <main>
        
    </main>

    <section class="home">   
        <div class="text">
            <h1>Usuarios</h1>    
        </div>

    </section>

    <script src="/js/animaciones.js"></script>
</body>
</html>