<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Web</title>
    <!--Estilos-->
    <link rel="stylesheet" href="/css/estilos.css">
    <!--Iconos-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

	<div th:replace="~{/navegacion :: navegacion}"></div>


    <main class="home">
        <div class="text">
            <h1>Dashboard</h1>

            <ul class="valores">
                <li>
                    <i class='bx bx-calendar-check icon'></i>
                    <span class="info">
                        <h3>
                            1,074
                        </h3>
                        <p>Ventas Realizadas</p>
                    </span>
                </li>
                <li>
                    <i class='bx bx-show-alt icon'></i>
                    <span class="info">
                        <h3>
                            ####
                        </h3>
                        <p>#####</p>
                    </span>
                </li>
                <li>
                    <i class='bx bxs-t-shirt icon'></i>
                    <span class="info">
                        <h3>
                            Polo Manga Corta
                        </h3>
                        <p>Top Prenda</p>
                    </span>
                </li>
                <li>
                    <i class='bx bx-dollar-circle icon'></i>
                    <span class="info">
                        <h3>
                            $####
                        </h3>
                        <p>Ganancia Total</p>
                    </span>
                </li>
            </ul>


            <div class="bottom-data">
                <div class="orders">
                    <div class="header">
                        <i class='bx bx-receipt'></i>
                        <h3>Ventas Recientes</h3>
                        <button>Ver todos</button>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Fecha</th>
                                <th>Precio</th>
                                <th>Ver</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    
                                    <p>V004</p>
                                </td>
                                <td>05/12/2023</td>
                                <td>S/.500.00</td>
                                <td><button>Ver</button></td>
                            </tr>
                            <tr>
                                <td>
                                
                                    <p>V003</p>
                                </td>
                                <td>09/09/2023</td>
                                <td>S/.155.00</td>
                                <td><button>Ver</button></td>
                            </tr>
                            <tr>
                                <td>
                                    
                                    <p>V002</p>
                                </td>
                                <td>20/08/2023</td>
                                <td>S/.200.00</td>
                                <td><button>Ver</button></td>
                            </tr>
                            <tr>
                                <td>
                                    
                                    <p>V001</p>
                                </td>
                                <td>14/06/2023</td> 
                                <td>S/.50.00</td>
                                <td><button>Ver</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="reminders">
                    <div class="header">
                        <i class='bx bx-note'></i>
                        <h3>###########</h3>
                        <i class='bx bx-filter'></i>
                        <i class='bx bx-plus'></i>
                    </div>
                    <ul class="task-list">
                        <li class="completed">
                            <div class="task-title">
                                <i class='bx bx-check-circle'></i>
                                <p>###########</p>
                            </div>
                            <i class='bx bx-dots-vertical-rounded'></i>
                        </li>
                        <li class="completed">
                            <div class="task-title">
                                <i class='bx bx-check-circle'></i>
                                <p>###########</p>
                            </div>
                            <i class='bx bx-dots-vertical-rounded'></i>
                        </li>
                        <li class="not-completed">
                            <div class="task-title">
                                <i class='bx bx-x-circle'></i>
                                <p>###########</p>
                            </div>
                            <i class='bx bx-dots-vertical-rounded'></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>

    <script src="/js/animaciones.js"></script>
</body>
</html>